* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /*1rem = 10px*/
  --font-family-default: sans-serif;
  --font-family-primary: "Open Sans", var(--font-family-default);
  --font-family-secondary: "Mulish", var(--font-family-default);
  --font-family-tertiary: "DM Sans", var(--font-family-default);
  --bg-color: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
  --color-gray: #7d7987;
  --color-black: #000;
  --color-black-400: #1f1534;
  --color-white-200: #f9f9f9;
  --color-green-400: #3b8169;
  --color-green-300: #69b99d;
  --color-green-200: #89c5cc;
}

body {
  font-family: var(--font-family-primary);
  background: var(--bg-color);
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.page {
  width: 100rem;
  margin: 0 auto;
  padding-top: 6.5rem;
}

h1,
ul {
  font-family: var(--font-family-secondary);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 5.5rem;
}

nav ul {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

ul li a {
  font-size: 1.8rem;
  color: var(--color-black-400);
  opacity: 0.5;
}

ul li a:hover {
  opacity: 1;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-img {
  width: 41.7rem;
}

.text {
  width: 48.9rem;

  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.text h1 {
  color: var(--color-black);
  font-size: 4.9rem;
  font-weight: normal;
  line-height: 5.6rem;
}

.text h1 span {
  color: var(--color-green-200);
  font-weight: bold;
}

.text p {
  color: var(--color-gray);
  font-size: 1.4rem;
  line-height: 2.8rem;
}

.text button {
  width: 18rem;
  height: 5.6rem;
  background: var(--color-green-300);
  padding: 1.4rem 3.2rem 1.5rem 3.2rem;
  border: none;
  border-radius: 4px;
  font-family: var(--font-family-tertiary);
  color: var(--color-white-200);
  font-size: 1.6rem;
  cursor: pointer;
  
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.text button:hover {
  background: var(--color-green-400);
}

footer {
  color: var(--color-black);
  text-align: center;
  font-size: 1.4rem;
  line-height: 2.8rem;

  margin-top: 8rem;
}

footer a {
  color: var(--color-black);
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
